<html>
<head>
	<title>matrixd blog</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	{{ navbar }}
	<div id="wrap">
		<ul class="breadcrumb">
		  <li class="active"><span class="divider">/</span><a href="/">main</a><span class="divider">/</span><a href="/cat/{{ catl }}">{{ catn }}</a><span class="divider">/</span>{{ res.header }}</li>
		</ul>
		<legend><span class="date">{{ res.date }}</span>{{ res.header }}</legend>
		<div id="content">{{ res.content }}</div>
		<p></p>
		<hr/>
		<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?52"></script>

<script type="text/javascript">
  VK.init({apiId: 3132329, onlyWidgets: true});
</script>

<!-- Put this div tag to the place, where the Like block will be -->
		<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "full"});
</script>
		<div id="comments" name="comments">
		 <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'matrixdblog'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
	</div>
	<div id="footer" class="well well-small">
		<div id="copyright">copyright matrixd </div>
		<a class="btn btn-primary btn-large" href="http://twitter.github.com/bootstrap/index.html">
		  Bootstrap
		</a>
		<a href="https://developers.google.com/appengine/"><img src="img/appengine-silver-120x30.gif"></img></a>
	</div>
</body>
</html>
