<html>
<head>
	<title>Example template</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link type="text/css" href="/jqueryUI/jquery-ui-1.8.23.custom.css" rel="Stylesheet" />	
	<script type="text/javascript" src="/jqueryUI/jquery-ui-1.8.23.custom.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<ul class="nav">
		  <li><a href="/admin/">Entries</a></li>
		  <li><a href="/admin/add">Add Entry</a></li>
		  <li><a href="/admin/cats">Cats</a></li>
		  <li><a href="/admin/cats">Cats</a></li>
		  <li><a href="/admin/pages">Pages</a></li>
		  <li><a href="/admin/addpage">Add Page</a></li>
		</ul>
	</div>
</div>
<div id="wrap">
		<ul>
			{% for key, c in cats.iteritems() %}
			<li><form action="/admin/cats" method="POST">{{ c.name }}<input type="hidden" value="{{ key }}" name="key"></input>
			<button type="submit" class="btn" value="del" name="action">Del</button>
			<label>New name: <input type="text" placeholder="{{c.name}}" name="name"></input><button type="submit" class="btn" value="rename" name="action">Change name</button></label>
			<label>New link: <input type="text" placeholder="{{c.link}}" name="link"></input><button type="submit" class="btn" value="relink" name="action">Change link</button></label>
			</form></li>
			{% endfor %}
		</ul>
	<form action="/admin/cats" method="POST">
		<label>New:</label>
		<label>Name: <input type="text" placeholder="Type something…" name="newName"></label>
		<label>Link: <input type="text" placeholder="Type something…" name="newLink"></label>
		<button type="submit" class="btn" value="add" name="action">Add</button>
	</form>
</div>
</body>
</html>
