<html>
<head>
	<title>Matrixd's blog {{ res.header }}</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	{{ navbar }}
	<div id="custom-page">
		{{ res.content }}
	</div>
	<div id="footer" class="well well-small">
		<div id="copyright">copyright matrixd </div>
		<a class="btn btn-primary btn-large" href="http://twitter.github.com/bootstrap/index.html">
		  Bootstrap
		</a>
		<a href="https://developers.google.com/appengine/"><img src="img/appengine-silver-120x30.gif"></img></a>
	</div>
</body>
</html>
