<html>
<head>
	<title>Matrixd blog</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	{{ navbar }}
	<div id="wrap">
		<ul class="breadcrumb">
		  <li class="active"><span class="divider">/</span>main</li>
		</ul>
		<div id="cats" class="well well-small">Категории: 
		{% for key, cat in cats.iteritems() %}
		<a href="/cat/{{ cat.link }}">{{ cat.name }}</a>
		{% endfor %}
		</div>
		{% for res in result %}
		<div class="article">
			<p><span class="date">{{ res.date }}</span><a href="/{{ res.key().id() }}" class="header"><h2>{{ res.header }}</h2></a></p>
			{{ res.shortcontent }}
			<p></p>
			<div class="clr"><a class="btn" href="/{{ res.key().id() }}">
			  Читать далее... 
			</a></div>
		</div>
		{% endfor %}
		<ul class="pager">
		  <li class="previous disabled">
			<a href="">&larr; Older</a>
		  </li>
		  <li class="next disabled">
			<a href="">Newer &rarr;</a>
		  </li>
		</ul>
	</div>
	<div id="footer" class="well well-small">
		<div id="copyright">copyright matrixd </div>
		<a class="btn btn-primary btn-large" href="http://twitter.github.com/bootstrap/index.html">
		  Bootstrap
		</a>
		<a href="https://developers.google.com/appengine/"><img src="img/appengine-silver-120x30.gif"></img></a>
	</div>
</body>
</html>
