/* main css file */
body{ 
	font-size: 16px;
}
#wrap{
	margin: 50px auto;
	width: 950px;
}

#custom-page { min-height: 300px; width: 900px; margin: 20px auto; }
.clr {
	clear: both;
}

#cats {
	margin: 10px 0;
	overflow: hidden;
}

#cats a{
	margin: 0 10px;
}

.navbar { width: 950px; margin: 0 auto;}

.navbar li.special {
	background: #7abcff;
background: #4096ee;
background: -moz-linear-gradient(top, #4096ee 0%, #007fff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#007fff));
background: -webkit-linear-gradient(top, #4096ee 0%,#007fff 100%);
background: -o-linear-gradient(top, #4096ee 0%,#007fff 100%);
background: -ms-linear-gradient(top, #4096ee 0%,#007fff 100%);
background: linear-gradient(to bottom, #4096ee 0%,#007fff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#007fff',GradientType=0 );
}
.navbar li.special a {
	color: white;
}
.navbar li.special a:hover {
	color: white;
}


.article {
	margin: 10px 0;
	padding: 30px;
}
.date{
	float: right;
	color: #6D6D6D;
	font-size: 18px;
	margin: 20px;
	font-weight: bold;
}
.article .header {
	color: black;
}
.article .header:hover {
	color: #CCC;
}

#footer {
	width: 930px;
	margin: 0 auto;
}
#copyright{
	float: right;
	margin-right: 30px;
	margin-top: 5px;
}

legend .date {
	margin-top: 3px;
}
#content{
	clear: both;
	overflow: hidden;
	margin: 10px;
}
#comments{
	clear: both;
	margin-top: 40px;
}
