<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<ul class="nav">
		  <li><a href="/">На главную</a></li>
		  <li><a href="/contacts">Контакты</a></li>
		  <li><a href="/about">Обо мне</a></li>
		</ul>
	</div>
</div>
