<html>
<head>
	<title>Example template</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link type="text/css" href="/jqueryUI/jquery-ui-1.8.23.custom.css" rel="Stylesheet" />	
	<script type="text/javascript" src="/jqueryUI/jquery-ui-1.8.23.custom.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<ul class="nav">
		  <li><a href="/admin/">Entries</a></li>
		  <li><a href="/admin/add">Add Entry</a></li>
		  <li><a href="/admin/cats">Cats</a></li>
		  <li><a href="/admin/cats">Cats</a></li>
		  <li><a href="/admin/pages">Pages</a></li>
		  <li><a href="/admin/addpage">Add Page</a></li>
		</ul>
	</div>
</div>
<div id="wrap">
	<form action="/admin/pageEdit/{{ res.key().id() }}" method="POST">
		<label>Header</label>
		<input type="text" placeholder="{{ res.header }}" name="header" class="input-xlarge" value="{{ res.header }}">
		<label>Link</label>
		<input type="text" placeholder="{{ res.url }}" name="link" class="input-xlarge" value="{{ res.url }}">
		<label>Main content</label>
		<textarea name="content" style="width: 900px; height: 500px;">{{ res.content }}</textarea>
		<div class="clr"></div>
		<label>Date</label>
		<div class="clr"></div>
		<label class="checkbox">
{% if res.published %}
			<input type="checkbox" name="publish" value="1" checked> Publish
{% else %}
			<input type="checkbox" name="publish" value="1"> Publish
{% endif %}
		</label>
		<input type="hidden" name="id" value="{{ res.key().id() }}"></input>
		<button type="submit" class="btn">Save</button>
	</form>
</div>
</body>
</html>
