<html>
<head>
	<title>Example template</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link type="text/css" href="/jqueryUI/jquery-ui-1.8.23.custom.css" rel="Stylesheet" />	
	<script type="text/javascript" src="/jqueryUI/jquery-ui-1.8.23.custom.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<ul class="nav">
		  <li><a href="/admin/">Entries</a></li>
		  <li><a href="/admin/add">Add Entry</a></li>
		  <li><a href="/admin/cats">Cats</a></li>
		  <li><a href="/admin/cats">Cats</a></li>
		  <li><a href="/admin/pages">Pages</a></li>
		  <li><a href="/admin/addpage">Add Page</a></li>
		</ul>
	</div>
</div>
<div id="wrap">
	<form action="/admin/parser" method="POST">
		{% for key, cat in cats.iteritems() %}
		<label class="radio">
			<input type="radio" name="category" id="optionsRadios1" value="{{ key }}" checked>{{ cat.name }}
		</label>
		{% endfor %}
		<textarea name="content" style="width: 900px; height: 500px;"></textarea>
		<button type="submit" class="btn">Submit</button>
	</form>
</div>
</body>
</html>
