<html>
<head>
	<title>Example template</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<ul class="nav">
		  <li><a href="/admin/">Entries</a></li>
		  <li><a href="/admin/add">Add Entry</a></li>
		  <li><a href="/admin/cats">Cats</a></li>
		  <li><a href="/admin/pages">Pages</a></li>
		  <li><a href="/admin/addpage">Add Page</a></li>
		  <li><a href="/admin/settings">Settings</a></li>
		</ul>
	</div>
</div>
<div id="wrap">
<ul>
{% for r in res %}
	<li>
	<form action="/admin/settings" method="POST">{{ r.name }}<input type="hidden" value="{{ r.key().id() }}" name="key"></input>
	<button type="submit" class="btn" value="del" name="action">Del</button>
			<label>New name: <input type="text" placeholder="{{r.name}}" name="name"></input><button type="submit" class="btn" value="rename" name="action">Change name</button></label>
			<label>Property: <textarea name="val">{{r.val}}</textarea><button type="submit" class="btn" value="changeVal" name="action">Change value</button></label>
	</form></li>
{% endfor %}
</ul>
<div>
<form action="/admin/settings" method="POST">
New:<br>
<p>Name: <input type="text" name="name"></input></p>
<textarea name="val"></textarea>
<button type="submit" class="btn" value="new" name="action">Create</button>
</form>
</div>
</div>
</body>
</html>
